
.date {
    font-style: italic;
    font-size: 0.8rem;
    font-weight: bold;
    color: #4c4c4c;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #dc3545;
}

.description {
    font-size: 0.8rem;
    color: #6b6b6b;
}

.cv-item {
    padding: 5px;
    border-radius: 3px
}

.cv-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.cv-item:hover .date {
    color: #191919;
}

.cv-item:hover .content {
    color: #c82333;
}

.cv-detail {
    margin-top: 5px;
    margin-bottom: 30px;
}

.cv-detail p {
    margin-bottom: 0;
}