<header>
    <nav className="navbar navbar-expand-lg navbar-dark">
        <div className="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']">FlyArts</a>

            <button className="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span className="navbar-toggler-icon"></span>
            </button>

            <div id="mainMenu" className="collapse navbar-collapse">
                <div className="me-auto mb-2 mb-lg-0"></div>
                <ul className="navbar-nav d-flex">
                    <li className="nav-item">
                        <a class="nav-link" title="Accueil du site FlyArts" [routerLink]="['/']">Accueil</a>
                    </li>
                    <!-- <li className="nav-item">
                        <a class="nav-link" title="Mon CV en ligne" [routerLink]="['/cv']">CV</a>
                    </li> -->
                    <li className="nav-item">
                        <a class="nav-link" title="Mes projets" [routerLink]="['/projects']">Projets</a>
                    </li>
                    <li className="nav-item">
                        <a class="nav-link" title="Contactez-moi si vous avez des questions" [routerLink]="['/contact']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>