@charset "utf-8";

h1 {
	margin: 20px 0 30px;;
}

#infos p {
	margin-bottom: 0;
}

#cvVersion {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.date {
	font-style: italic;
	font-size: 0.8rem;
	font-weight: bold;
	color: #4c4c4c;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #dc3545;
}

.description {
	font-size: 0.8rem;
	color: #6b6b6b;
}

.cv-item {
	padding: 5px;
	border-radius: 3px
}

.cv-item:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.cv-item:hover .date {
	color: #191919;
}

.cv-item:hover .content {
	color: #c82333;
}

.cv-detail {
	margin-top: 5px;
	margin-bottom: 30px;
}

.cv-detail p {
	margin-bottom: 0;
}

.competences label {
	margin-top: 10px;
	font-weight: bold;
}

.info {
	margin-right: 10px;
	font-style: italic;
	font-size: 0.8rem;
	font-weight: bold;
	color: #4c4c4c;
}

#experiences {
	margin-bottom: 40px; 
}

#formations {
	margin-bottom: 40px; 
}

#competences {
	margin-bottom: 40px; 
}

#competences .cv-item {
	margin-left: -4px;
}

#competences .cv-item .btn {
	padding: .14rem .5rem;
    border-radius: 50px;
}

#loisirs {
	margin-bottom: 30px;
}

#loisirs .element-list {
	width: 100%;
	text-align: center;
}

#loisirs .element {
	display: inline-block;
    margin: 0 10%;
	color: #dc3545;
}

#loisirs .element svg {
	font-size: 3rem;
	margin-bottom: 10px;
}