@charset "utf-8";

h1 {
	margin: 20px 0 30px;
}

h2 {
	margin-bottom: 20px;
}

.fa-section {
	margin-bottom: 90px;
}

.table {
	margin-bottom: 0;
}

.image {
	text-align: center;
}

.image img {
	max-width: 50%;
}

@media (max-width: 992px) {
	.image img {
		max-width: 100%;
	}
}