<div class="hero-banner">
	<div class="hero-banner-content">
		<h1 class="display-4">FlyArts</h1>
		<p class="lead">Créatif. Curieux. Ingénieux. Voici un aperçu de ce que je crée, code et construis.</p>
	</div>

	<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
			<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(247, 243, 243, 0.7" />
			<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(247, 243, 243, 0.5)" />
			<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(247, 243, 243, 0.3)" />
			<use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(247, 243, 243)" />
		</g>
	</svg>
</div>

<div class="container">
	<div class="row">
		<section id="portrait" class="col-sm-12">
			<div class="row">
				<div class="col-md-4 align-self-center">
					<img class="" src="assets/img/portrait.jpg" alt="Photo de Florent Lavignotte" />
				</div>

				<div class="col-md-8 align-self-center portrait-content">
					<h2>Développeur et créateur</h2>
					<p>
						Développeur web spécialisé dans les technologies Angular, Node.js et C#, je conçois des
						applications modernes et performantes, aussi bien côté client que serveur. En parallèle, je
						travaille sur des projets de jeux vidéo avec Unreal Engine, pour lesquels je réalise la
						modélisation 3D, la création de textures, ainsi que l'intégration dans le moteur. Je m’intéresse
						également à l'impression 3D, en concevant mes propres objets et prototypes. Curieux de nature,
						j’explore aussi le domaine de l’électronique, ce qui me permet de combiner software et hardware
						dans certains projets personnels.
					</p>
					<p class="text-right">
						<a class="customBtn" [routerLink]="['/cv']">
							Accéder à mon CV
						</a>
					</p>
				</div>
			</div>
		</section>

		@if(projects.length > 0) {
		<section id="projects" class="col-sm-12">
			<h2>Mes derniers projets</h2>
			<div class="row">
				@for(project of projects; track project.idProject) {
				<div class="col-md-4">
					<app-project-item [project]="project" />
				</div>
				}

				<div class="col-md-4">
					<div class="card-container">
						<p id="projectsMore">
							<a class="customBtn" [routerLink]="['/projects']">
								<i class="fas fa-arrow-right"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</section>
		}
	</div>
</div>