@charset "utf-8";

#home {
	.jumbotron {
		width: 100%;
		margin-top: 30px;
	}

	h2 {
		margin-bottom: 20px;
	}

	.flyarts-section {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.shadow {
		display: flex;
		box-shadow: 4px 4px 10px #6c757d;
	}

	#portrait img {
		display: block;
		margin-right: 30px;
	}

	#projects .card {
		margin-bottom: 30px;
	}

	#projects .card .link {
		margin-bottom: 0;
	}

	#projectsMore {
		width: 100%;
		margin: 50% 0 30px;
		text-align: center;
	}

	#projectsMore a {
		width: 107px;
		padding: 30px;
		border-radius: 100%;
		font-size: 2rem;
	}
}