<div class="hero-banner">
	<div class="hero-banner-content">
		<h1 class="display-4">FlyArts</h1>
		<p class="lead">Créatif. Curieux. Ingénieux. Voici un aperçu de ce que je crée, code et construis.</p>
	</div>

	<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
			<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
			<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
			<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
			<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
		</g>
	</svg>
</div>

<div class="container">
	<div class="row">
		<section id="portrait" class="col-sm-12 flyarts-section">
			<div class="row">
				<div class="col-md-4">
					<img class="rounded float-left img-thumbnail" src="assets/img/portrait.jpg" alt="..." />
				</div>

				<div class="col-md-8">
					<h2>Qui suis-je ?</h2>
					<p>
						Je m'appelle Florent Lavignotte et je suis passionné d'informatique depuis le plus jeune age.
						Tombé dedans avec Ms DOS et désireux de créer tous les projets que j'ai en tête, je me suis
						lancé
						dans un cursus en Electronique pour ensuite aller dans une école d'ingénieur en informatique
						spécialisée dans le développement. Aujourd'hui, je réalise enfin mes ambitions et crée des
						outils en
						tout genre.
					</p>
					<p class="text-right">
						<a class="btn btn-danger btn-lg" [routerLink]="['/cv']">
							Accéder à mon CV
						</a>
					</p>
				</div>
			</div>
		</section>

		<div class="col-md-12 shadow">
			<div class="row">
				<section class="col-md-6 flyarts-section">
					<h2>Qu'est ce que FlyArts ?</h2>
					<p>
						FlyArts est un site internet que j'ai créé afin de présenter et mettre en avant mes compétences
						dans le domaine du développement
						logiciel et web. Ce site a pour but de présenter mes compétences et mes expériences en matière
						de programmation ainsi que
						ma personnalité à travers mes passions et loisirs.
						J'espère pouvoir apporter aux personnes interessées toutes les connaissances que j'ai acquise
						grâce à mes réalisations.
					</p>
				</section>
				<section class="col-md-6 flyarts-section">
					<h2>Pourquoi FlyArts ?</h2>
					<p>
						FlyArts était le nom que j'avais choisi pour mon projet de photographie.
						Avec le temps ce nom est devenu de plus en plus présent dans mes projets.
						Cela à fini par devenir un peu ma marque de fabrique auprès de mes amis et mes proches.
						J'ai ainsi donné ce nom au site pour lui donner une personalité propre.
						L'utilisation de mon nom et mon prénom aurait été trop commun pour un site personnel.
					</p>
				</section>
			</div>
		</div>

		@if(projects.length > 0) {
		<section id="projects" class="col-sm-12 flyarts-section">
			<h2>Mes derniers projets</h2>
			<div class="row">
				@for(project of projects; track project.idProject) {
				<div class="col-md-4">
					<app-project-item [project]="project" />
				</div>
				}

				<div class="col-md-4">
					<p id="projectsMore">
						<a class="btn btn-danger" [routerLink]="['/projects']">
							<i class="fas fa-arrow-right"></i>
						</a>
					</p>
				</div>
			</div>
		</section>
		}
	</div>
</div>