#certificaitons {
	position: relative;
}

.title {
	background-color: #122d73;
	padding: 15px 0;
}

.title h2 {
	margin: 0 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2rem;
	color: #ffffff;
}

.element-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}

.element-list img {
	display: block;
	width: 33.3333%;
	margin: 5px;
	background-color: #ffffff;
	border-radius: 15px;
}