<div class="row">
	<section class="col-sm-12">
		<h1>Random Player</h1>
	</section>

	<h2>Préambule</h2>
	<p>
		Petit projet personnel, réalisé en vue de d'améliorer mes compétences et mes connaissances en développmeent
		logiciel sur le framework .NET.
		Cette petite application a pour objectif d'aider l'utilisateur à choisir un film à regarder parmis une liste de
		film disponible.
	</p>

	<h2>Fonctionnalités</h2>
	<p>
		Ce logiciel permet de lancer un fichier au hasard.<br />
		Voici les fonctionnalités de l'outil:
	</p>
	<ul>
		<li>Sélection automatique d'un fichier au hasard parmis une liste de fichier</li>
		<li>Sélection multiple de dossier pour lister les fichiers</li>
		<li>Filtre sur les fichiers parmis les types suivants: Tous, Vidéo, Image, Musique</li>
		<li>Champ de recherche pour filter les fichiers par mots clés</li>
		<li>Option de lancement automatique du fichier sélectionné</li>
		<li>Option de recherche dans les sous-dossiers</li>
		<li>Outil de renommage du fichier sélectionné</li>
		<li>Outil de suppression du fichier sélectionné</li>
		<li>Bouton pour sélectionner un autre fichier au hasard</li>
		<li>Bouton pour revenir au fichier sélectionné précédant</li>
		<li>Bouton d'actualisation de la sélection du fichier</li>
		<li>Sauvegarde automatique des préférences utilisateur</li>
		<li>Thème d'interface changeable entre clair et sombre</li>
	</ul>

	<h2>Téléchargement</h2>
	<p>
		Ce logiciel est portable et compatible avec les environements Windoaws uniquement.
	</p>

	<h2>Source</h2>
	<p>
		Le code source est disponible sur le lien GitHub suivant:
	</p>
</div>