h1 {
	margin: 20px 0 30px !important;
}

#infos p {
	margin-bottom: 0;
}

#printVersion {
	margin-top: 45px;
	margin-bottom: 30px;
	text-align: center;
}

.layout {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Ordre personnalisé sur mobile */
.block1 {
	order: 6;
}

.block2 {
	order: 4;
}

.block3 {
	order: 7;
}

.block4 {
	order: 1;
}

.block5 {
	order: 2;
}

.block6 {
	order: 3;
}

.block7 {
	order: 5;
}

.col-left,
.col-right {
	display: contents;
	/* pour que les ordres fonctionnent sur mobile */
}

/* Layout PC (≥ 768px) */
@media (min-width: 768px) {
	.layout {
		flex-direction: row;
		align-items: flex-start;
		gap: 4rem;
	}

	.col-left,
	.col-right {
		display: flex;
		flex-direction: column;
	}

	.col-left {
		flex: 0 0 25%;
	}

	.col-right {
		flex: 0 0 75%;
	}

	.block1,
	.block2,
	.block3,
	.block4,
	.block5,
	.block6,
	.block7 {
		order: 0;
		margin-bottom: 1rem;
	}
}