/* ==== FlyArts Design ==== */
.flyarts-bg {
    background-color: #dc3545;
}

.flyarts-border {
    border-color: #dc3545;
}

.flyarts-button:hover {
	background-color: #dc3545;
}

.flyarts-button:hover {
	background-color: #c82333;
}
/* ======================== */

header .navbar-right {
	position: absolute;
    right: 0;
	height: 100%;
}


.text-right {
	text-align: right;
}

.row+.row {
    margin-top: 1rem;
}