<div id="projects" class="container">
    <div class="row">
        <section id="project_list" class="col-sm-12 flyarts-section">
            <h1>Les autres projets</h1>
            <!-- <div class="row">
                {projects.map((project: ProjectProp) => {
                if (project.visibility) {
                return <div class="col-md-4" key={project.idProject}>
                    <Project props={project} />
                </div>
                }
                })}
            </div> -->
        </section>

        <section id="more_projects" class="col-sm-12 flyarts-section">
            <h1>Plus de projets</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <p class="card-body">
                            <span>Retrouvez tous mes projets de développement directement sur mon GitHub.</span>
                            <br /><br />
                            <a href="https://github.com/sparky783" target="_blank">
                                <fa-icon [icon]="faGithub"></fa-icon>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>